body {
    display: flex;
    justify-content: space-evenly;
}

#window-project {
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#quot {
    height: 130px;
    width: 500px;
}

#button-quot {
    background-color: chocolate;
}

#img {
    margin-bottom: 20px;
}